@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

/*
cor primária: #f6c23e
outra cor: #4e73df

*/

:root {
    --cor-principal: (#F6C23E)
    --cor-secundaria: (#3D6EF5)
}

html, body {
    background: #4e73df url(../images/bk-login.png) center no-repeat;
    background-size: cover;
    height: 100dvh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

div#main-img {
    display: none;
    background: url(../images/menina.png) center no-repeat;
    background-size: cover;
    height: 200px;
}



section.login {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.351);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    padding: 10px;
    border-radius: 4%;
    transform: translate(-50%, -50%);
}

section.login > div.formulario > h1 {
    font-size: 2em;
    text-align: center;
}

div.formulario > form {
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.campo {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color:#4e73df;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.436);
}

div.campo > span {
    float: left;
    color: white;
    font-size: 1.5em;
    width: 30px;
    padding: 2px;
}

div.campo input { 
    height: 100%;
    width: calc(100% - 30px);
    border: none;
    padding: 5px;
    box-sizing: border-box;
}

div.buttons input.enter {
    background-color: #4e73df;
    color: white;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    font: 1.5em arial;
}

div.buttons input.enter:hover {
    background-color: #4566c8;
    cursor: pointer;
}

div.buttons a {
    background-color: #f6c23e;
    color: #4e73df;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    font: bold 1.5em arial;
    text-decoration: none;
}

div.buttons a:hover {
    background-color: #f5c54c;
    color: #5f7edb;
    text-decoration: underline;
    
}





