@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
cor primária: #f6c23e
outra cor: #4e73df

*/

:root {
    --cor-principal: #F6C23E;
    --cor-secundaria: #3D6EF5;
    --fundo: #ffffff;
    --texto-pincipal: #111111;
    --texto-sec: #f1f1f1;
    --fundo-card: #f5f5f5;
}

body {
    background-color: var(--fundo);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 20px;
}

header h1 {
    text-align: center;
}

section.valor {
    background-color: var(--cor-principal);
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

section.valor h2 {
    margin-bottom: 10px;
}

section.valor input {
    border: 2px solid #2a49a1;
    outline: none;
    padding: 8px 12px;
    border-radius: 4px;
}

section.valor input::-webkit-outer-spin-button, section.valor input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


section.valor input:focus {
    border-color: #3D6EF5;
    transition: 0.1s ease-in-out;
}

section.mercado {
    display: none;
    background-color: var(--cor-principal);
    width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

section.mercado h2 {
    text-align: center;
    margin-bottom: 20px;
}

p.money {
    text-align: center;
}

ul.sacola {
    padding: 5px;
    width: 30%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;

}

details.comp {
    border: 2px solid var(--texto-pincipal);
    display: none;
    margin: auto;
    background-color: var(--cor-secundaria);
    width: 50%;
    border-radius: 4px 4px 0px 0px;
    margin-bottom: 20px;
}

details summary {
    font-weight: bold;
    color: var(--texto-sec);
    border: 1px solid black;
    padding: 2px;
    border-radius: 4px 4px 0px 0px;

}

details li {
    list-style-type: none;
    padding: 4px;
    background-color: var(--fundo);
}

div.produto {
    background-color: var(--fundo-card);
    padding: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.buttons button.rem {
    background-color: #f6786f;
    color: var(--texto-sec);
    font-size: 20px;
    border: none;
    border-radius: 4px;
}

div.buttons button.rem:hover {
    cursor: pointer;
    background-color: #f8695f;
}

div.buttons button.add {
    background-color: #a1efa1;
    color: var(--texto-sec);
    border: none;
    border-radius: 4px;
    font-size: 20px;

}

div.buttons button.add:hover {
    cursor: pointer;
    background-color: #6bef6b;
}






